.container {
  min-height: 100vh;
  background-size: cover;
  padding: 25px;
  background: #2f80ed;
}

.container > div:nth-child(6) {
  margin-bottom: 50px;
}

@media only screen and (max-width: 834px) {
  .container {
    padding: 20px;
  }
}
